<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
</head>
<body>
    <form action="/message" method="POST">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Message:</p>
        <input type="text" name="message">
        <button type="submit">Post message</button>
    </form>
    <div>
        <%for(var i in messages){%>
        <h1>Name: <%=messages[i].name%></h1>      
        <h1>Message: <%=messages[i].message%></h1> 
        <%for(var j=0; j< messages[i].comments.length;j++){%>
            <p>Name: <%=messages[i].comments[j].name%></p>
            <p>Comment:<%=messages[i].comments[j].comment%></p>
        <%}%>
        <%=messages[i].message%>        
        <form action="/comment/<%=messages[i].name%>" method="POST">
            <p>Name:</p>
            <input type="text" name="name">
            <p>Comment:</p>
            <input type="text" name="comment">
            <button type="submit">Post comments</button>
        </form>
        <%}%>
    </div>
</body>
</html>